@font-face {
  font-family: "Maison Neue";
  src: url("//db.onlinewebfonts.com/t/8b59d4b47037b08d452d8cb659cc2d53.eot");
  src: url("//db.onlinewebfonts.com/t/8b59d4b47037b08d452d8cb659cc2d53.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/8b59d4b47037b08d452d8cb659cc2d53.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/8b59d4b47037b08d452d8cb659cc2d53.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/8b59d4b47037b08d452d8cb659cc2d53.ttf")
      format("truetype"),
    url("//db.onlinewebfnts.com/t/8b59d4b47037b08d452d8cb659cc2d53.svg#Maison Neue Light")
      format("svg");
  font-weight: normal;
}

@font-face {
  font-family: "Maison Neue";
  src: url("//db.onlinewebfonts.com/t/4a373e70cd01dec089c1dd1185ceba51.eot");
  src: url("//db.onlinewebfonts.com/t/4a373e70cd01dec089c1dd1185ceba51.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/4a373e70cd01dec089c1dd1185ceba51.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/4a373e70cd01dec089c1dd1185ceba51.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/4a373e70cd01dec089c1dd1185ceba51.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/4a373e70cd01dec089c1dd1185ceba51.svg#Maison Neue")
      format("svg");
  font-weight: bold;
}
